# Core dependencies
Flask
Flask-PyMongo
Flask-CORS
fuzzywuzzy
pandas
pymongo
python-dateutil
python-Levenshtein
python-dotenv
werkzeug

# Code Quality
pylint
vulture

# Testing dependencies
pytest
pytest-flask
playwright
pytest-playwright
pytest-cov
