# Core dependencies
Flask
Flask-PyMongo
Flask-CORS
pandas
pymongo
python-dateutil
fuzzywuzzy
python-Levenshtein
python-dotenv

# Code Quality
pylint
vulture

# Testing dependencies
pytest
pytest-flask
playwright
pytest-playwright
pytest-cov
